body{background-color: aquamarine}
h1{font size: 12}
h1{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
article{font-style: oblique;}
article{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}